<h1>Edit place</h1>

<%= form_with(model: @place) do |form| %>
    <% if @place.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:
            </h2>
            <ul>
                <% @place.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :coordinates %><br>
        <%= form.text_field :coordinates %>
    </p>

    <p>
        <%= form.label :keywords %><br>
        <%= form.text_area :keywords %>
    </p>

    <p>
        <%= form.submit %>
    </p>

<% end %>

<%= link_to 'Back', places_path %>